<!Doctype html>

<html>
	<head>
		<title>Bookmark Manager</title>
	</head>
	<body>
		<header>
			<h1>Bookmark Manager</h1>
			<nav>
				<ul>
					<li><a href="/">Add Link</a></li>
				</ul>
			</nav>
		</header>
	</body>
</html>